* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Philosopher-regular;
  src: url(../fonts/Philosopher-Regular.ttf);
}

body {
  background-color: #ffe2b0;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 10rem;
}

li:last-child {
  margin-right: 0;
}

a {
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.section-image {
  position: relative;
  background-image: url(../img/background_image.jpg);
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.section-image__block {
  position: absolute;
  top: 54%;
  left: 50%;
  height: 19rem;
  width: 42rem;
  background: linear-gradient(
    180deg,
    rgba(244, 213, 178, 0.8) 0%,
    rgba(234, 156, 65, 0.8) 100%
  );
  padding-top: 1.5rem;
}

.section-image__border {
  border: 1px solid black;
  height: 16rem;
  width: 39rem;
  margin: 0 auto;
  padding: 1.7rem 0 0 2.8rem;
}

.section-image__title {
  font-size: 3.6rem;
  margin-bottom: 0.9rem;
  font-family: Philosopher-regular;
}

.section-image__text {
  font-size: 1.2rem;
}

.section-description__icon-box {
  text-align: center;
  margin-bottom: 2rem;
}

.section-description__icon-box img {
  margin-right: 7.6rem;
}

.section-description__icon-box img:last-child {
  margin-right: 0rem;
}

.section-description__text-box {
  width: 100rem;
  text-align: center;
  margin: 0 auto;
}

.section-description__title {
  font-size: 9.6rem;
  font-family: Philosopher-regular;
}

.section-des—Åription__text {
  font-size: 1.8rem;
  font-family: Roboto, sans-serif;
}

.section-description {
  margin-bottom: 2rem;
}

.red {
  color: #f15b40;
}

.section-map {
  margin-bottom: 2rem;
  text-align: center;
}

.section-map__line {
  border-bottom: 0.1rem solid #999999;
  width: 102.4rem;
  margin: 0 auto;
}

.section-map__title {
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  font-family: Philosopher-regular;
}

iframe {
  margin-bottom: 2rem;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
  transform: scale(110%) rotate(20deg);
}

a {
  display: inline-block;
  transition: 0.3s all;
}

img:hover {
  transform: scale(115%);
}

img {
  transition: transform 1.5s;
}

.icon {
  transition: all 1s;
}

.icon:hover {
  transform: scale(105%);
  filter: drop-shadow(-0.5rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5));
}

html {
  font-size: 10px;
}
